body {
  font-family: Arial, sans-serif;
  text-align: center;
}

nav {
  margin-bottom: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}


nav a {
  margin: 5px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #d44545;
  color: rgb(8, 1, 1);
  border-radius: 5px;
}
